
.grid-container {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr ;
}

.bg-top {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: #fff;
  width: 100%;
  z-index: 0;
}

.bg-bottom {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color:#F0F1F6;
  width: 100%;
  z-index: 0;
}

.shortener {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  z-index: 2;

  .shorten-url{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      background-color: color(primary-darkviolet);
      background-image: url(../images/bg-shorten-mobile.svg);
      background-repeat: no-repeat;
      background-position: top right;
      width: 100%;
      max-width: 325px;
      height: max-content;
      border-radius: 10px;

      .input-url {
          margin: 25px 0 0;
          padding: 0 20px;
          width: 280px;
          height: 50px;
          border: none;
          border-radius: 5px;
          font-size: 1rem;

          &.error {
              border: 3px solid color(secondary-red);
          }

      }

      ::placeholder {
          opacity: .6;
      }

      #error-msg {
          align-self: flex-start;
          color: color(secondary-red);
          margin-left: 25px;
          margin-top: 5px;
          font-size: .8rem;
          display: none;
      }

      .submit-btn {
          margin: 15px 0 25px;
          width: 280px;
          height: 50px;
          border: none;
          border-radius: 5px;
          color: #fff;
          background-color: color(primary-cyan);
          font-size: 1rem;
          font-weight: 700;
          cursor: pointer;
      }

      .submit-btn:hover {
          background-color: lighten(color(primary-cyan), 15%);
      }
  }

  
}